 :root{
    --primary-color: #ffc107fc;
    --primary-color-subtle:#ffc10755;
 }
 *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;

        }

        header {
            background-color: #0b1d2a;
            color: white;
            padding: 30px;
            justify-content: space-between;
            display: flex;
            align-items: center;

        }
        nav {
            display: flex;
            gap: 3px;
        }

        nav a {
            color: #ccc;
            text-decoration: none;
            text-transform: capitalize;
            font-size: 14px;
            padding: 6px 20px;
            display: flex;
            align-items: center;
            border-radius: 5px;
        }
        nav a:hover{
            background: var(--primary-color-subtle);
        }
        .logo {
            display: flex;
            align-items: center;
            font-weight: bold;
            color: white;
        }

        .icon {
            background:var(--primary-color);
            color: black;
            padding: 8px 12px;
            border-radius: 8px;
            margin-right: 10px;
        }

        .active {
            background-color: #FFC10742;
        }
        .clicker button{
            background: var(--primary-color);
            padding: 12px;
            border: 0;
            border-radius: 6px;
            font-weight: bold;
            color: #0b1d2a;
            cursor: pointer;
        }
        .clicker button:hover{
            color:#0b1d2a;
        }
